.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.node::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  width: 24px;
  height: 0;
  border-top: 1px solid black;
}

.node:first-child::before {
  display: none;
}

.node.left::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.node.right::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.tree {
  position: relative;
}

.node {
  position: relative;
}

.line {
  top: 50%;
  left: -25px;
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.line line {
  stroke: white;
  stroke-width: 1;
  stroke-linecap: round;
}
